@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Spectral&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

hr {
  border: black solid 1px;
}

.navhead {
  background-color: rgb(255, 192, 23);
}

a {
  text-decoration: none;
  color: initial;
}

/*NAVBAR*/

#abc {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 192, 23);
  border-bottom: 1px solid black;
  transition: 0.3s ease-in-out;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.float svg {
  float: left;
}

.float div {
  float: right;
}

.btn {
  border-radius: 20px;
  padding: 12px;
  border-style: none;
  background-color: rgb(34, 34, 34);
  color: white;
  transition: 0.3s ease-in-out;
}
.btn:hover {
  background-color: rgba(0, 0, 0);
  transition: 0.5s;
}

.link-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.link-nav a {
  margin-right: 10px;
}
/*HEADER*/
header {
  margin-top: 60px;
}
.container2 {
  margin-left: 15%;
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: center;
}

.curious {
  font-size: 130px;
  font-weight: 550;
  white-space: nowrap;
  font-family: "Spectral", serif;
  letter-spacing: -10px;
}

.subtitle {
  color: rgb(39, 39, 39);
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.Msvg {
  flex-grow: 1;
}

.btn2 {
  width: 150px;
}

/*MAIN*/

h4 {
  padding-top: 0.2vw;
  flex-grow: 1;
  font-size: 25px;
  margin: 0;
  color: rgb(151, 151, 151);
}
.medium {
  display: flex;
  align-items: center;
}

.person {
  width: 25px;
  border-radius: 100%;
  margin-right: 0.5vw;
}

.art {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.art div {
  flex-basis: 33%;
  display: flex;
}
.containerCard {
  display: flex;
  flex-direction: column;
  flex-grow: 10;
  height: 100%;
}
.containerCard div {
  display: flex;
  align-items: center;
}

.person + p {
  font-size: 0.8em;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume {
  font-weight: 600;
  font-size: 16px;
}
.hour {
  color: rgb(110, 110, 110);
  padding-bottom: 15px;
  padding-top: 10px;
  font-size: 12px;
}

/*SEZIONE 2 */

.section2 {
  display: flex;
  position: relative;
}

.altriArt {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stick {
  position: sticky;
  flex-basis: 50%;
  margin-left: 50px;
}

.altriArt div {
  margin-bottom: 20px;
  display: flex;
}

.secImg {
  width: 200px;
  float: right;
}

.logo2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
